@import "../../../assets/variables";

.card-timeline{
  display: inline-block!important;
  width: 40%;
  max-width: 415px;
  p{
    font-size: 16px;
  }
  .date{
    font-size: 15px;
  }
}
.pair{
  margin-right: 200px;
  &:before{
    content: "";
    width: 200px;
    background: #514C4A;
    height: 29px;
    position: absolute;
    right: -200px;
    top: 50%;
  }
}
.trait-bas{
  margin-bottom: 150px;
  &:before{
    content: "";
    width: 29px;
    background: #514C4A;
    height: 175px;
    position: absolute;
    right: 50%;
    top: 100%;
  }
}
.pair.trait-bas{
  margin-bottom: 150px;
  margin-right: 200px;
  &:before{
    content: "";
    width: 29px;
    background: #514C4A;
    height: 150px;
    position: absolute;
    right: 50%;
    top: 100%;
  }
  &:after{
    content: "";
    width: 200px;
    background: #514C4A;
    height: 29px;
    position: absolute;
    right: -200px;
    top: 50%;
  }
}

@media screen and (max-width: 1430px) {
  .card-timeline{
    max-width: 300px;
  }
  .trait-bas, .pair.trait-bas {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1215px) {
  .card-timeline{
    max-width: 280px;
  }
  .trait-bas {
    margin-bottom: 72px;
  }
  .pair.trait-bas {
    margin-right: 120px;
  }
  .pair {
    margin-right: 120px;
  }
}

@media screen and (max-width: 1015px) {
  .pair{
    margin-right: 0;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .trait-bas{
    margin-bottom: 0;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .pair.trait-bas{
    margin-bottom: 0px;
    margin-right: 0px;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:after{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .card-timeline {
    max-width: 100%;
    width: 100%;
    margin-bottom: 25px;
  }
}