@import "../../../assets/variables";

.card-timeline{
  display: inline-block!important;
  p{
    font-size: 16px;
  }
  .date{
    font-size: 15px;
  }
}
.impair{
  max-width: 30%;
}
.pair{
  max-width: 33.33%;
  margin-right: 33.33%;
  &:before{
    content: "";
    width: 100%;
    background: #514C4A;
    height: 29px;
    position: absolute;
    right: -100%;
    top: 50%;
  }
}
.trait-bas{
  margin-bottom: 150px;
  &:before{
    content: "";
    width: 29px;
    background: #514C4A;
    height: 100%;
    position: absolute;
    right: 50%;
    top: 100%;
  }
}
.pair.trait-bas{
  &:after{
    content: "";
    width: 100%;
    background: #514C4A;
    height: 29px;
    position: absolute;
    right: -100%;
    top: 50%;
  }
}

@media screen and (max-width: 1015px) {
  .pair{
    margin-right: 0;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .trait-bas{
    margin-bottom: 0;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .pair.trait-bas{
    margin-bottom: 0px;
    margin-right: 0px;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:after{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .card-timeline {
    max-width: 100%;
    width: 100%;
    margin-bottom: 25px;
  }
}