@import "../../../assets/variables";
svg {
  // for border animation with animejs but i will try later with gsap
  //.cls-1 {
  //  stroke: $baseColorGreen;
  //  stroke-width: 1px;
  //  fill:transparent;
  //}
  .cls-1 {
    fill:$baseColorGreen;
  }
  .cls-2 {
    fill:$baseColorDark;
  }

  line.cls-3{
    stroke: $baseColorDark;
    stroke-width: 2px;
  }
}