@media screen and (max-width: 1350px) {
  .container-formation {
    flex-wrap: nowrap;
  }

  .column {
    flex-basis: calc(50% - 2.5px);
  }

  .column:last-child {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .container-formation {
    flex-wrap: nowrap;
  }

  .column {
    flex-basis: 100%;
  }
}
