@tailwind base;
@tailwind components;
@tailwind utilities;
@import "assets/variables";


main{
  border-top: 50px solid $baseColorDark;
  border-left: 50px solid $baseColorDark;
  min-height: calc(100vh);
}

.profile{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  overflow: visible!important;
  img {
    border: 15px solid $baseColorDark;
  }
  &:before {
    top: -3px;
    left: -2px;
    content: "";
    position: absolute;
    height: 187px;
    width: 62%;
    background: #514C4A;
    --mask: radial-gradient(54px at 100% 100%,#0000 98%,#000);
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  &:after{
    top: 24.9px;
    left: 88px;
    content: "";
    position: absolute;
    height: 66px;
    width: 74%;
    z-index: -13;
    background: #514C4A;
    --mask: radial-gradient(61px at 100% 100%,#0000 98%,#000);
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}

svg {
  .cls-1 {
    stroke: $baseColorGreen;
    stroke-width: 1px;
    fill:transparent;
  }
  .cls-2 {
    fill:$baseColorDark;
  }

  line.cls-3{
    stroke: $baseColorDark;
    stroke-width: 2px;
  }
}
.column{
  -webkit-box-shadow: 0px 0px 30px -7px rgba(153,207,181,0.68);
  box-shadow: 0px 0px 30px -7px rgba(153,207,181,0.68);
}
//.card-timeline{
//  display: inline-block;
//  width: 40%;
//}
.card-timeline{
  display: inline-block!important;
  width: 40%;
  max-width: 415px;
}

.line{
  display: inline-block;
  stroke-width: 50px;
  stroke: $baseColorDark;
}
.pair{
   margin-right: 200px;
  &:before{
    content: "";
    width: 200px;
    background: #514C4A;
    height: 29px;
    position: absolute;
    right: -200px;
    top: 50%;
  }
}
.trait-bas{
  margin-bottom: 150px;
  &:before{
    content: "";
    width: 29px;
    background: #514C4A;
    height: 175px;
    position: absolute;
    right: 50%;
    top: 100%;
  }
}
.pair.trait-bas{
  margin-bottom: 150px;
  margin-right: 200px;
  &:before{
    content: "";
    width: 29px;
    background: #514C4A;
    height: 150px;
    position: absolute;
    right: 50%;
    top: 100%;
  }
  &:after{
    content: "";
    width: 200px;
    background: #514C4A;
    height: 29px;
    position: absolute;
    right: -200px;
    top: 50%;
  }
}
@media screen and (max-width: 1350px) {
  .container-formation {
    flex-wrap: nowrap;
  }

  .column {
    flex-basis: calc(50% - 2.5px);
  }

  .column:last-child {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .container-formation {
    flex-wrap: nowrap;
  }

  .column {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 1430px) {
  .card-timeline{
    max-width: 300px;
  }
  .trait-bas, .pair.trait-bas {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1215px) {
  .card-timeline{
    max-width: 280px;
  }
  .trait-bas {
    margin-bottom: 72px;
  }
  .pair.trait-bas {
    margin-right: 120px;
  }
  .pair {
    margin-right: 120px;
  }
}
@media screen and (max-width: 1015px) {
  .pair{
    margin-right: 0;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .trait-bas{
    margin-bottom: 0;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .pair.trait-bas{
    margin-bottom: 0px;
    margin-right: 0px;
    &:before{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:after{
      content: "";
      width: 0;
      background: transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .card-timeline {
    max-width: 100%;
    width: 100%;
    margin-bottom: 25px;
  }
}
